* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif, 'Dancing Script';
    color: white;
}

body {
    width: 100%;
    height: 100%;
    margin: auto;
    align-items: center;
    text-align: center;
    background-color: rgb(19, 19, 19);
}

.container1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

nav {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.portifolio {
    font-size: 44px;
    font-weight: 800;
    margin-top: 30px;
}

.portifolio span {
    color: red;
    font-weight: 400;
}

.portifolio span:hover {
    color: rgb(27, 220, 27);
    transition: 1s;
}

li {
    color: white;
    list-style: none;
    display: inline-block;
    margin: 15px;
    font-size: 25px;
    cursor: pointer;
}

li a:hover {
    color: rgb(27, 220, 27);
    transition: 1s;
}

a {
    text-decoration: none;
}

.tittle {
    width: 100%;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 110px;

}

.personagem {
    width: 550px;
    transition: 3s;
}

.personagem:hover {
    transform: scale(1.2);
}

#foto {
    width: 500px;
    transition: all 1s;

}

h1 {
    text-align: justify;
    font-family: 'Dancing Script';
    font-size: 65px;
}

h1 span {
    color: red;
}

h1 span:hover {
    transition: 1s;
    color: rgb(27, 220, 27);
}

h3 {
    font-size: 35px;
    text-align: justify;
}

p {
    font-size: 25px;
    text-align: justify;
}

.quadro1 {
    width: 87%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.lado1 {
    width: 40%;
    text-align: justify;
    gap: 8px;
}

.icon {
    width: 100%;
    justify-content: justify;
}

.icon img {
    width: 45px;
    
}

.cardapio{
    display: none;
    width: 25px;
    background-color: white;
}


@media(max-width :1192px) {
    #foto {
        width: 350px;

    }

    h1 {
        text-align: justify;
        font-family: 'Dancing Script';
        font-size: 50px;
    }

    h3 {
        font-size: 30px;
        text-align: justify;
    }

    p {
        font-size: 20px;
        text-align: justify;
    }
}

@media(max-width :924px) {
    h1 {
        text-align: justify;
        font-family: 'Dancing Script';
        font-size: 38px;
    }
    .portifolio{
        font-size: 37px;
    }

    h3 {
        font-size: 22px;
        text-align: justify;
    }

    li {
        font-size: 19px;
    }
    p{
        font-size:16px;
    }
    .icon img {
        width: 25px;
    }
    .tittle{
        margin-top: 20px;
    }
}
@media(max-width :700px){
    h1 {
        width: 100%;
        text-align: justify;
        font-family: 'Dancing Script';
        font-size: 30px;
    }
    h1 span{
        font-size: 30px;
    }
    .portifolio{
        font-size: 25px;
    }
    h3 {
        font-size: 18px;
        text-align: justify;
    }
    nav{
        display:flex;
    }
    li {
        font-size: 15px;
    }
    #foto {
        width: 280px;

    }
    .icon img {
        width: 30px;
    }
    .quadro1{
        width: 90%;
    }
    p{
        font-size: 14px;
    }
    .tittle{
        margin-top: 30px;
    }
}
@media(max-width:551px){
    .portifolio{
        font-size: 25px;
    }
    h1{
        margin: auto;
    }
    .tittle{

        width: 90%;
        margin: auto;
        margin-top: 30px;
        
    }
    .lado1{
        width: 100%;
        text-align: center;
    }
    .quadro1{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    nav{
        font-size: 13px;
        display:none;
        
    }
    li{
        display: flex;
        flex-direction: column;
        color: black;
    }
    .navegador{
        display: flex;
    }
    .cardapio{
        display: flex;
        width: 29px;
        padding: 5px;
        border-radius: 3px;
        color: white;
        justify-content: space-between;
        align-items: center;
        margin-top: 27px;
    }
    .container1{
        margin: auto;
    }
    .icon{
        margin-top: 15px;
    }
}

